---
import '../styles/global.css';

// 1. Mantemos as importações normais do CSS do Fontsource
import '@fontsource/dm-serif-text';
import '@fontsource/open-sans';
import favIcon from '../assets/favicon.svg';

// 2. O TRUQUE: Importamos os arquivos físicos das fontes como URLs!
import fontDmSerif from '@fontsource/dm-serif-text/files/dm-serif-text-latin-400-normal.woff2?url';
import fontOpenSans from '@fontsource/open-sans/files/open-sans-latin-400-normal.woff2?url';

const { title, description } = Astro.props;
---
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        
        <link rel="preload" href={fontDmSerif} as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href={fontOpenSans} as="font" type="font/woff2" crossorigin="anonymous">
        
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={favIcon.src} />
        <title>{title}</title>
    </head>
    <body class="bg-[#F9F2EC] text-slate-800 font-sans">
        <slot />
    </body>
</html>